{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<section class="backgrounded-section">
    <div class="container-fluid allatkartya">
        <div class="row">
            <div class="col allatcontainer">
                <div class="allat"> 
                    <div class="container-fluid">
                        <div class="row no-gutters" style="overflow: visible;">
                            <div class="col-lg-6 col-md-12 pb-3 pb-lg-0 mainimgcontainer">
                                {{ allat.allatmainimage }}
                                <a href={{ allat.allatmainimage.photo_tumb.url|default:'/media/app_menhely/img/photos/default.png' }} data-lightbox="mygallery">
                                    <img src={{ allat.allatmainimage.get.photo_tumb.url|default:'/media/app_menhely/img/photos/default.png'  }} class="allatmainimg"/>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12 pt-5 pt-md-5 pt-lg-0 tulajdonsag">
                                <div class="text-outer-container">
                                        <h1>{{allat.nev}}</h1>
                                        <b>{% trans "nem:" %} </b>
                                        {% if 'kan' in allat.ivar %}
                                            {% trans "kan" %}
                                        {% else %}
                                            {% trans "szuka" %}
                                        {% endif %}
                                        <br>
                                        <b>{% trans "életkor:" %}</b>
                                        {% if allat.eletkor == 0 %}
                                            <1 {% trans "éves" %}
                                        {% else %}
                                            {{allat.eletkor}} éves
                                        {% endif %}
                                        <br>
                                        <b>{% trans "ivartalanított:" %}</b>
                                        {% if allat.ivartalanitva %} 
                                            <img src={% static 'app_vackolo/img/page_elements/true.png' %} class="tulajdonsagikonnagy"/>
                                        {% else %}
                                            <img src={% static 'app_vackolo/img/page_elements/false.png' %} class="tulajdonsagikonkicsi"/>
                                        {% endif %}
                                        <br>
                                        <b>{% trans "méret: " %}</b>
                                        {% if 'kicsi' in allat.meret %}
                                            {% trans "kistestű" %}
                                        {% elif 'kozepes' in allat.meret %} 
                                            {% trans "közepes testű" %}
                                        {% else %}
                                            {% trans "nagytestű" %}
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="allatleiras">{{allat.leiras}}</div>
                    </div>
                    
                    <div class="container-fluid pt-5 pb-3">
                        <div class="carousel-wrap">
                            <div class="owl-carousel-1 owl-carousel owl-theme">
                              {% for picture in allatpictures %}
                                  <div class="allatpicscontainer">
                                    <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                                        <div class="wrapperconstraint-allat">
                                            <img src={{ picture.photo_tumb.url }} class="allatpics"></img>
                                        </div>
                                    </a>
                                  </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
          <center><a href="formorokbe.html?allatid={{ allat.pk }}" class="btn">
            {% trans "Örökbefogadnám" %}
          </a></center>
                </div>    
            </div>            
        </div>
    </div>
</section>

<section class="orokbefogadas-footer">

<div class="container-fluid"><div class="row" style="height:100px"></div></div>
<div class="container orokbefogadas-feltetelek">
    <div class="row">
        <div class="col">
            <h2><center>{% trans "Mielőtt Örökbefogadnál" %}</center></h2><br>
            <p>{{ orokbefogadasszoveg.content.html|safe }}</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row pt-5 pb-5">
        <div class="col"><center> <h1>{% trans "TOVÁBBI GAZDAKERESŐK" %}</h1></h1></center></div>
    </div>
</div>

{% include 'sub_templates/orokbefogadhato.html' %}
</section>


<script>
    $(document).ready(function(){
      $(".owl-carousel-1").owlCarousel();
    });
    
    $('.owl-carousel-1').owlCarousel({
        touchDrag: true,
        mouseDrag: true,
        loop:false,
        margin:10,
        responsiveClass:true,
        center: false,
        nav: true,
        navText: ["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        
        responsive:{
            0:{
                items:1,
            },
            600:{
                items:1,
            },
            1100:{
                items:2,
            },
            1400:{
                items:3,
            }
        }
    })
    
</script>

{% endblock content %}