{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<section class="backgrounded-section">
    <div class="container-fluid allatkartya">
        <div class="row">
            <div class="col allatcontainer">
                <div class="allat"> 
                    <div class="container-fluid">
                        <div class="row no-gutters" style="overflow: visible;">
                            <div class="col-lg-6 col-md-12 pb-3 pb-lg-0">
                                <a href={{ allat.allatmainimage_set.get.photo_tumb.url }} data-lightbox="mygallery">
                                    <img src={{ allat.allatmainimage_set.get.photo_tumb.url }} class="allatmainimg"/>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12 pt-5 pt-md-5 pt-lg-0 tulajdonsag">
                                <div class="text-outer-container">
                                        <h1>{{allat.nev}}</h1>
                                        <b>{% trans "nem:" %} </b>
                                        {% if 'fiu' in allat.ivar %}
                                            {% trans "fiú" %}
                                        {% else %}
                                            {% trans "lány" %}
                                        {% endif %}
                                        <br>
                                        <b>{% trans "életkor:" %}</b>
                                        {% if allat.eletkor == 0 %}
                                            <1 {% trans "éves" %}
                                        {% else %}
                                            {{allat.eletkor}} éves
                                        {% endif %}
                                        <br>
                                        <b>{% trans "ivartalanított:" %}</b>
                                        {% if allat.ivartalanitva %} 
                                            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/null/external-check-multimedia-kiranshastry-lineal-kiranshastry.png" class="tulajdonsagikonnagy"/>
                                        {% else %}
                                            <img src="https://img.icons8.com/external-others-iconmarket/64/null/external-cross-essential-others-iconmarket.png" class="tulajdonsagikonkicsi"/>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="allatleiras">{{allat.leiras}}</div>
                    </div>
                    
                    <div class="container-fluid pt-5 pb-3">
                        <div class="carousel-wrap">
                            <div class="owl-carousel owl-theme">
                              {% for picture in allatpictures %}
                                  <div class="allatpicscontainer">
                                    <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                                        <div class="wrapperconstraint-allat">
                                            <img src={{ picture.photo_tumb.url }} class="allatpics"></img>
                                        </div>
                                    </a>
                                  </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
          <center><a href="formorokbe.html?allatid={{ allat.pk }}" class="btn">
            {% trans "Örökbefogadnám" %}
          </a></center>
                </div>    
            </div>            
        </div>
    </div>
</section>

<section class="orokbefogadas-footer">

<div class="container-fluid"><div class="row" style="height:100px"></div></div>
<div class="container orokbefogadas-feltetelek">
    <div class="row">
        <div class="col">
            <h2><center>{% trans "Mielőtt Örökbefogadnál" %}</center></h2><br>
            <p>{{ orokbefogadasszoveg.content.html|safe }}</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="col"><center> <h1>{% trans "TOVÁBBI GAZDIKERESŐK" %}</h1></h1></center></div>
    </div>
</div>

{% include 'sub_templates/orokbefogadhato.html' %}
</section>

{% endblock content %}