{% extends 'main.html'%}
{% load static %}
{% block content %}
{% load i18n %}

<section class="backgrounded-section">
  <div class="container-fluid">
      <div class="row form-group">
            <div class="col-md-1 col-sm-0"></div>
            <div class="col-md-5 col-sm-12">			
              <h1>{% trans "Kapcsolat" %}</h1><br>
              <p>
                {% trans "Amennyiben bármilyen kérdésed van, örökbefogadási szándékod van vagy támogatni szeretnél bennünket, töltsd ki az űrlapot vagy keress az alábbi elérhetőségeken minket:" %}<br><br>
              </p>
              <p>
              <center>
				<a href={{ kapcsolat.facebookmessengercim }} target="_blank" class="contact-button"><img src={% static 'app_vackolo/img/page_elements/messenger-white.png' %} alt="messenger ikon"> &nbsp facebook messenger </a>
			  </center>
              </p>
              <p>
              <center>
				<a href="mailto:{{ kapcsolat.emailcim }}" target="_blank" class="contact-button"><img src={% static 'app_vackolo/img/page_elements/envelope-white.png' %} alt="levél ikon">&nbsp {{ kapcsolat.emailcim }}</a>
			  </center>
              </p>
              <p>
              <center>
				<a href="tel:{{ kapcsolat.telefonszam }}" target="_blank" class="contact-button"><img src={% static 'app_vackolo/img/page_elements/phone-white.png' %} alt="telefon ikon">&nbsp {{ kapcsolat.telefonszam }} </a>
			  </center>
              </p>
              <p>
              <center>
				<a href="{{ kapcsolat.telephelyterkeplink}}" target="_blank" class="contact-button"><img src={% static 'app_vackolo/img/page_elements/location-white.png' %} alt="location ikon"> {{ kapcsolat.telephely }}</a>
			  </center>
              </p>   			  
              <br><br>
			<p>
				  <img src={% static 'app_vackolo/img/page_elements/paw_green.png' %} class="kapcsolat-paw">
			</p>
            </div>
            <div class="col-md-5 col-sm-12 form-field"><br><br>
                            <form method="post">
                            {% csrf_token %}
                                {{form.as_p}}

                                <br><div class="formbutton text-center"><button type="submit" class="btn btn-light btn-rounded" style="text-align: center; margin: 0 auto;">{% trans "elküldöm " %}</button></div>
                            </form><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-md-1 col-sm-0 form-group"></div>
      </div>
  </div>
</section>


{% endblock content %}