<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<html data-wf-page="5e966657bfb4cdde5c3e404a" data-wf-site="5e966657bfb4cd1e103e404b" lang="en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Open Graph Meta Tags -->
<meta property="og:url" content="https://vackolo.hu" />
<meta property="og:title" content="Vackoló Állatmenhely Szentkirályszabadja és Veszprém" />
<meta property="og:image" content="https://www.vackolo.hu/static/app_vackolo/img/page_elements/mainpage_header.jpg" />
<meta property="og:image:alt" content="Cuki kutya szép fényekkel" />

<!-- Twitter Meta Tags -->
<meta name="twitter:image" content="https://www.vackolo.hu/static/app_vackolo/img/page_elements/mainpage_header.jpg"  />
<meta property="twitter:image:alt" content="Cuki kutya szép fényekkel" />
<meta name="twitter:card" content="cuki_kutya_szep_fenyem" />

<meta name="keywords" content="vackoló, menhely, állatmenhely, kutya, cica, macska, önkéntesség, adomány, támogatás, veszprém, Szentkirályszabadja, magyarország">



<!-- JavaScript Bundle with Popper -->
<script src={% static 'app_vackolo/bootstrap-5.0.2-dist/js/bootstrap.js' %}></script>
<script src={% static 'app_vackolo/js/lightbox-plus-jquery.min.js' %}></script>
<script src={% static 'app_vackolo/js/jquery.min.js' %}></script>
<script src={% static 'app_vackolo/js/owl.carousel.min.js' %}></script>

<!-- own css -->
<link rel="stylesheet" href={% static 'app_vackolo/bootstrap-5.0.2-dist/css/bootstrap.css' %}>
<link rel="stylesheet" href={% static 'app_vackolo/vackolo.css' %}>
<link rel="stylesheet" href={% static 'app_vackolo/css/lightbox.css' %}>
<link rel="stylesheet" href={% static 'app_vackolo/css/owl.carousel.min.css' %}>
<link rel="stylesheet" href={% static 'app_vackolo/css/owl.theme.default.min.css' %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="icon" href={% static 'app_vackolo/images/logo.png' %}>

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

<title>
  {{title}}
</title>

</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WV9S75XT3C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WV9S75XT3C');
</script>

<body>


<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav" id="nvbarnav">
            <a class="navbar-brand navbar-expand menubrand mr-auto d-none d-xl-block" href="bemutatkozas"><img src={% static 'app_vackolo/img/logo/logo.jpg' %} class="brand-logo brandicon" id="logo"></a>
            <li class="nav-item menupoint">
              <a class="nav-link" href="bemutatkozas#tortenetunk"><img src={% static 'app_vackolo/img/page_elements/paw_green.png' %}/> {% trans "bemutatkozás" %}</a>
            </li>        
            <li class="nav-item menupoint">
              <a class="nav-link" href="tamogatas"><img src={% static 'app_vackolo/img/page_elements/paw_green.png' %}/> {% trans "támogatás" %}</a>
            </li>
            <li class="nav-item menupoint">
              <a class="nav-link" href="orokbefogadas"><img src={% static 'app_vackolo/img/page_elements/paw_green.png' %}/> {% trans "fogadj örökbe" %}</a>
            </li>
            <li class="nav-item menupoint">
              <a class="nav-link" href="kapcsolat"><img src={% static 'app_vackolo/img/page_elements/paw_green.png' %}/> {% trans "kapcsolat" %}</a>
            </li>
        </ul>

        <div class="languages">
          <a href="/hu/" {% if "hu" in CURRENT_LANGUAGE %} class="rejts"{% endif %}> hu </a>
          <a href="/en/" {% if "en" in CURRENT_LANGUAGE %} class="rejts"{% endif %}> en </a>
          <a href="/de/" {% if "de" in CURRENT_LANGUAGE %} class="rejts"{% endif %}> de </a>
        </div>
      
  </div>
</nav>

{% block content %}

{% endblock content %}

<div class ="container-fluid">
  <div class="row" style="height: 3px; background: #3bae46;"></div>
</div>

<div class ="container-fluid" id="kapcsolat">
  <div class="row">
    <div class="z-depth-1-half map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.4541689573275!2d17.935274296791302!3d47.05094053200856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476997d12fb71659%3A0x4b26fbd8f0bcc559!2zVmFja29sw7Mgw4FsbGF0dsOpZMWRIEVneWVzw7xsZXQ!5e0!3m2!1shu!2shu!4v1689107826815!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<section class="backgrounded-section">
  <div class ="container-fluid footer">
    <div class="row pt-5 pb-2">
        <div class="col-lg-4 footerimage pb-5">
          <img src={% static 'app_vackolo/img/logo/logo.jpg' %}/>
        </div>
        <div class="col-lg-4 contacts pb-xs-5 pb-sm-5 pt-5">
          <p><img src={% static 'app_vackolo/img/page_elements/envelope-vackolo-green.png' %}/>&nbsp &nbsp {{ kapcsolat.emailcim }}</p>
          <p><img src={% static 'app_vackolo/img/page_elements/location-vackolo-green.png' %}/>&nbsp &nbsp {{ kapcsolat.telephely }} </p>
        </div>
        <div class="col-lg-4 pt-xs-5 contacts">
          <p>{% trans "nyitvatartás" %}</p>
          {{ kapcsolat.nyitvatartas}}<br>
        </div>
    </div>
  
    <div class="row pb-3">
      <div class="col" style="text-align: center;">
        Icons by <a href="https://www.icons8.com" style="text-decoration: none; color:lightblue;"  target="_blank">Icons8</a>
      </div>
    </div>

  </div>
</section>

<div class="cookies-eu-banner hidden">
  {% trans "Az oldal viselkedésalapú cookie-kat használhat. Amennyiben elfogadod, kattints az elfogadom gombra." %} <a href="{% static 'app_vackolo/cookie/sutik.pdf' %}" download="cookies">{% trans "adatvédelmi irányelvek" %}</a> 
  <button>{% trans "ELFOGADOM" %}</button>
</div>

</body>

<script src={% static 'app_vackolo/vackolo.js' %}></script>
<script>
$(document).ready(function(){
  $(".owl-carousel-0").owlCarousel();
});

$('.owl-carousel-0').owlCarousel({
    touchDrag: true,
    mouseDrag: true,
    loop:false,
    margin:10,
    responsiveClass:true,
    center: false,
    nav: true,
    navText: ["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
    
    responsive:{
        0:{
            items:1,
        },
        600:{
            items:1,
        },
        1100:{
            items:2,
        },
        1400:{
            items:3,
        }
    }
})
</script>
</html>