{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<!-- KAPCSOLAT -->
<section class="backgrounded-section">
  <div class="container" style="height: 200px;"></div>
    <div class="container-fluid">
        <div class="row">
              <div class="col-12">
          <h2>{% trans "Sikeresen elküldted az üzenetet, igyekszem minél hamarabb válaszolni!" %}</h2><br><br>
          <center><p><img src={% static 'app_vackolo/img/page_elements/envelope-arrow-down.svg' %}/ style="height: 150px;"></p></center><br><br>
            <br><div style="text-align: center;"><a href="intro.html"><button class="segitscard-button" style="text-align: center; margin: 0 auto;">{% trans "Főoldalra" %}</button></a></div><br><br>
              </div>
        </div>
    </div>
  <div class="container" style="height: 300px;"></div>
</section>
{% endblock content %}