{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<section class="backgrounded-section">
    <div class="container-fluid segitsleiras">
        <div class="row">
            <div class="col-xl-6 mt-5">
                <img src={% static 'app_vackolo/img/page_elements/helppics.png' %} class="segitskep" >
            </div>
            <div class="col-xl-6 pb-5">
                <h1>{% trans "Támogatás" %}</h1><br><br>
				{{ tamogatas.content.html|safe }}       
            </div>
        </div>
    </div>


    {% include 'sub_templates/helpcards.html' %}
</section>


<div class="container-fluid video">
    <video autoplay muted loop id="myVideo">
      <source src={% static 'app_vackolo/img/page_elements/Vackolo_02_4K1.mp4' %} type="video/mp4">
    </video>
</div>

<section class="backgrounded-section">
    <div class="container-fluid kutyasetaltatas">
        <div class="row">
            <div class="col-xl-6">
                <img src={% static 'app_vackolo/img/page_elements/dogwalk.jpg' %} class="segitskep" >
            </div>
            <div class="col-xl-6 pt-5 pt-xl-0">
                <h2 class="pb-1">{% trans "Önkéntes munka" %}</h2>
					{{ onkentesmunka.content.html|safe }}
			</div>
        </div>
    </div>

</section>

{% endblock content %}