{% extends 'main.html'%}
{% load static %}       
{% block content %}
{% load i18n %}

<div class="container-fluid roundedpics-fogadjorokbe">
    <div class="row">
            <div class="col-lg-12 header">
              <img src={% static '/app_menhely/images/carousel1.jpg' %}>
            </div>
    </div>

</div>

<section class="backgrounded-section">
    <div class="fogadjorokbe-felirat" id="vigyelhaza">
        Vigyél Haza
    </div> 
<div class="container-fluid allatkartya">
    <div class="row">
        <div class="col allatcontainer">
            <div class="allat">
                <a href="javascript:history.back()" class="btn-allat">
                    {% trans "Vissza" %}
                </a>    
                <div class="container-fluid">
                    <div class="row no-gutters" style="overflow: visible;">
                        <div class="col-lg-4 col-md-12">
                            <a href={{ allat.allatmainimage_set.get.photo_tumb.url }} data-lightbox="mygallery">
                                <img src={{ allat.allatmainimage_set.get.photo_tumb.url }} class="allatmainimg"/>
                            </a>
                        </div>

                        <div class="col-lg-8 col-md-12 pt-md-5 pt-lg-0">
                            <div class="allatnev">{{allat.nev}}</div><br>
                            <p class="tulajdonsag">
                            <b>Ivar:</b> 
                                 {% if 'fiu' in allat.ivar %} 
                                    <img src="https://img.icons8.com/quill/50/null/experimental-male-quill.png" class="tulajdonsagikonnagy"/>
                                {% else %}
                                    <img src="https://img.icons8.com/quill/50/null/experimental-female-quill.png" class="tulajdonsagikonnagy"/>
                                {% endif %}
                            <br>
                            <b>Életkor:</b> 
                                {% if allat.eletkor == 0 %}
                                    <1 éves
                                {% else %}
                                    {{allat.eletkor}} éves <br>
                                {% endif %}
                            <b>Ivartalanítva</b>
                                {% if allat.ivartalanitva %} 
                                    <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/null/external-check-multimedia-kiranshastry-lineal-kiranshastry.png" class="tulajdonsagikonnagy"/>
                                {% else %}
                                    <img src="https://img.icons8.com/external-others-iconmarket/64/null/external-cross-essential-others-iconmarket.png" class="tulajdonsagikonkicsi"/>
                                {% endif %}
                            </p>
                            <hr>
                            <div class="allatleiras">{{allat.leiras}}</div>
                            <div class="break"></div>
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid pt-5 pb-3">
                    <div class="carousel-wrap">
                        <div class="owl-carousel owl-theme">
                          {% for picture in allatpictures %}
                              <div class="allatpicscontainer">
                                <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                                    <div class="wrapperconstraint-allat">
                                        <img src={{ picture.photo_tumb.url }} class="allatpics"></img>
                                    </div>
                                </a>
                              </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
        </div>            
    </div>
</div>
<div class="container-fluid"><div class="row" style="height:400px"></div></div>
</section>

<section class="orokbefogadas-footer">

<div class="container-fluid"><div class="row" style="height:200px"></div></div>
<div class="container orokbefogadas-feltetelek">
    <div class="row">
        <div class="col">
            <h2><center>{% trans "Mielőtt Örökbefogadnál" %}</center></h2><br>
            <p>{% trans "Ha ezen az oldalon jársz, feltehetően már fontolgatod magadban, hogy a leendő kutyádat menhelyről fogadod majd örökbe. Ha teheted, látogass el hozzánk, ismerkedj meg a kutyáinkkal, találkozz az önkénteseinkkel – örömmel körbevezetünk téged a menhelyen, és szívesen válaszolunk a kérdéseidre." %}
            {% trans "A kutyáink a legkülönbözőbb okokból kerültek a gondozásunkba: némelyikük korábban kóbor kutyaként küzdött a túlélésért, másokat a gazdája adott le az életkörülményei megváltozására hivatkozva. Vannak, akik balesetet szenvedtek és ezt követően kerültek a gondozásunkba, vannak olyanok is, akiket kidobtak az út mellé vagy bedobtak a menhely udvarára, de olyanok is akadnak, akiket korábbi gazdájuk rendszeresen és súlyosan bántalmazott. Kutyáink számára a menhely egy biztonságos, kiszámítható környezet, ahol igyekszünk a lehetőségekhez mérten a lehető legjobb körülményeket biztosítani a számukra." %}</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
<div class="container-fluid"><div class="row" style="height:100px"></div></div>
    <div class="row pt-5">
        <div class="col"><center> <h1>{% trans "TOVÁBBI GAZDIKERESŐK" %}</h1></h1></center></div>
    </div>
</div>

{% include 'orokbefogadhato.html' %}
</section>



{% endblock content %}